<div class="row" id="social-media-bar">
    <div class="container">
        Sri Lankan Students' Association at The University of Iowa<a href="https://www.facebook.com/SLSAatUI/" target="_blank"><fa-icon [icon]="['fab','facebook-square']" size="x" class="float-right"></fa-icon></a>
    </div>
</div>
<div class="row" id="nav-row">
        <div class="container">
<nav class="navbar navbar-expand-md navbar-dark navbar-custom">
    
    <a class="navbar-brand" href="#"><img src="../../assets/header-img/logo.jpg" width="auto"height="100%" alt=""></a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about-us">About Us</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/alumni">Alumni</a>
                </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/events">Events</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/news">News</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contact-us">Contact us</a>
            </li>
        </ul>
    </div>
    <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>

</nav>
</div>
</div>