<footer class="row">
        <div class="row">
            
            <div class="col-sm-3" id="links">
                
                <h3>Quick Links</h3>
                <ul>
                    <a routerLink="/"><li>&#x25BA;&nbsp;Home</li></a>
                    <a routerLink="/about-us"><li>&#x25BA;&nbsp;About Us</li></a>
                    <a routerLink="/alumni"><li>&#x25BA;&nbsp;Alumni</li></a>
                    <a routerLink="/events"><li>&#x25BA;&nbsp;Events</li></a>
                    <a routerLink="/news"><li>&#x25BA;&nbsp;News</li></a>
                    <a routerLink="/contact-us"><li>&#x25BA;&nbsp;Contact Us</li></a>
                </ul>
                
            </div>
            <div class="col-sm-4 text-left" >
                <h3>Our Address</h3>
                <p>Sri Lanka Students' Association,<br>
                The University of Iowa,<br>
                Iowa City, IA 52242<br>
                USA</p>
            </div>
            <div class="col-sm-5">
                
                    <h3>Our Location</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.6781084835466!2d-91.55489982124742!3d41.66269632174541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87e441f249bfffff%3A0x4bd1e33fb1e73261!2sThe+University+of+Iowa!5e0!3m2!1sen!2sus!4v1565285583795!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="container">
                        <h3>Our Trusted Partners</h3>
                </div>
            </div>
        
        
      </footer>