<div class="parallax row">
        <div class="image-box__overlay">
            <div class="image-box__content">
                <h1>About us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="header">
                <h1>The Inception</h1>
            </div>
                <p>Sri Lankan Students' Association at The University of Iowa was inaugurated in 2010 by the initiative of Dr. Gayan Rubasinghege, who was the first Sri Lankan Chemistry PhD student at the University of Iowa, 
                    on the noble idea of supporting Sri Lankan students in the University of Iowa. 
                    During his time in Iowa City, Dr. Rubasinghege underwent many hardships as an incoming graduate student, which lead him to form a Sri Lankan community to support future incoming students.
                </p>
                <p>Since then, many Sri Lankan students have been benefitted by SLSA and become part of the unique community. 
                    SLSA is the only official student organization committed to the welfare of Sri Lankan students at the University of Iowa. Its welfare activities include but not limit to the following list.</p>
                </div>
    </div>
                    <div id="yellow-box" class="row">
                        
                        <div class="container">
                                <div id="white-box">
                            <div class="header">
                                <h1>Welfare</h1>
                            </div>
                            
                            <ul>
                                <li>Airport pickups and drops</li>
                                <li>Support with the move-in/move-out of incoming and current Sri Lankan students</li>
                                <li>Collection of essential furniture and other households for incoming students</li>
                                <li>Communication and co-ordination of pre-arrival and post-arrival functions</li>
                                <li>Accompanying new students for grocery shopping</li>
                                <li>Support and practice for challenging examinations</li>
                                <li>Organising annual events such as New Year festival, Sil Observing and Wesak festival</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="container">
                    <div class="row">
                            <h1>The Committee</h1>
                    </div>
                    <div class="row">
                            <h2>Faculty Advisors</h2>
                    </div>
                    <div class="row cards-center">
                            <div class="card" style="height: 18rem;">
                                    <img class="card-img-top" src="../../assets/about-us-img/fac-advisor1.png" alt="Card image cap">
                                    <div class="card-body">
                                            <h5 class="mt-0">Faculty Advisor</h5>
                                      <p class="card-text">Dr. H. N. Thenuwara
                                    </div>
                                  </div>
                                  <div class="card" style="height: 18rem;">
                                        <img class="card-img-top" src="../../assets/about-us-img/fac-advisor2.png" alt="Card image cap">
                                        <div class="card-body">
                                                <h5 class="mt-0">Faculty Advisor</h5>
                                          <p class="card-text">Dr. Kokila Thenuwara
                                        </div>
                                      </div>
                    </div>
                    <div class="row">
                            <h2>Office Bearers</h2>
                    </div>
                    <div class="row">
                        <div class="card" style="height: 18rem;">
                            <img class="card-img-top" src="../../assets/about-us-img/president.png" alt="Card image cap">
                            <div class="card-body">
                                    <h5 class="mt-0">President</h5>
                              <p class="card-text">Amith Weththasinghe
                            </div>
                        </div>
                        <div class="card" style="height: 18rem;">
                                <img class="card-img-top" src="../../assets/about-us-img/secretary.png" alt="Card image cap">
                                <div class="card-body">
                                        <h5 class="mt-0">Secreatary</h5>
                                  <p class="card-text">Waruni Karunaratne
                                </div>
                            </div>
                            <div class="card" style="height: 18rem;">
                                    <img class="card-img-top" src="../../assets/about-us-img/treasurer.png" alt="Card image cap">
                                    <div class="card-body">
                                            <h5 class="mt-0">Treasurer</h5>
                                      <p class="card-text">Rajinda Wickrama
                                    </div>
                                </div>
                                <div class="card" style="height: 18rem;">
                                        <img class="card-img-top" src="../../assets/about-us-img/asst-president.png" alt="Card image cap">
                                        <div class="card-body">
                                                <h5 class="mt-0">Asst. President</h5>
                                          <p class="card-text">Harsha Pitawela
                                        </div>
                                    </div>
                                    <div class="card" style="height: 18rem;">
                                            <img class="card-img-top" src="../../assets/about-us-img/asst-secretary.png" alt="Card image cap">
                                            <div class="card-body">
                                                    <h5 class="mt-0">Asst. Secreatary</h5>
                                              <p class="card-text">Dulamini Ekanayake
                                            </div>
                                        </div>
            
            </div>
        </div>
    </div>