<div class="parallax row">
    <div class="image-box__overlay">
        <div class="image-box__content">
            <h1>Events</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row header">
            <h1>Upcoming Events</h1>
        </div>

        <div class="row">
                <div class="container">
                    <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-sm-4"><img src="../../assets/events-img/events-cover.jpg" class="img-fluid" alt=""></div>
                                    <div class="col-sm-4"><h5 class="card-header">Apple picking with Freshers</h5><p class="card-text">New incoming graduate students will be accompanied to Wilson's Orchard for Apple picking, another important event in the freshers' schedule.</p></div>
                                    <div class="col-sm-4"><p class="yellow-text">17</p><h4>Aug 2019</h4></div>
                                </div>
                            </div>
                        </div>
        
                </div>
            </div>
    
        <div class="row">
                <div class="container">
                    <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-sm-4"><img src="../../assets/events-img/2.jpg" class="img-fluid" alt=""></div>
                                    <div class="col-sm-4"><h5 class="card-header">Barbeque Evening with Freshers</h5><p class="card-text">A Barbeque evening will be organised to officially welcome freshers. This will be held at one of the city park shelters followed by a game of Baseball. Since Barbeque and Baseball are essential events in US culture, this provides a great opportunity for freshers to familiarise with them.</p></div>
                                    <div class="col-sm-4"><p class="yellow-text">17</p><h4>Aug 2019</h4></div>
                                </div>
                            </div>
                          </div>
        
                </div>
            </div>
    </div>
</div>

<div class="row" id="yellow-row">
    <div class="container">
    <div class="row header">
        <h1>Past Events</h1>
    </div>

    <div class="row">
            <div class="container">
                <div class="card">
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-sm-4"><img src="../../assets/events-img/2.jpg" class="img-fluid" alt=""></div>
                                <div class="col-sm-4"><h5 class="card-header">Barbeque Evening with Freshers</h5><p class="card-text">A Barbeque evening will be organised to officially welcome freshers. This will be held at one of the city park shelters followed by a game of Baseball. Since Barbeque and Baseball are essential events in US culture, this provides a great opportunity for freshers to familiarise with them.</p></div>
                                <div class="col-sm-4"><p class="yellow-text">17</p><h4>Aug 2019</h4></div>
                            </div>
                        </div>
                      </div>
    
            </div>
    </div>
</div>
</div>
