<div class="parallax row">
        <div class="image-box__overlay">
            <div class="image-box__content">
                <h1>Alumni</h1>
            </div>
        </div>
    </div>
    <div class="container header">
            <div class="row header">
                <h1>Sri Lankan Alumni at The University of Iowa</h1>
            </div>
        
            <div class="row">
                <div class="container">
                        <table id="alumni-table" datatable class="row-border hover">
                                <thead>
                                  <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Degree</th>
                                    <th>Field</th>
                                    <th>Year</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Dinith</td>
                                    <td>Jayanetti</td>
                                    <td>PhD</td>
                                    <td>Chemistry</td>
                                    <td>2017</td>
                                  </tr>
                                  <tr>
                                        <td>Kalani</td>
                                        <td>Karunaratne</td>
                                        <td>PhD</td>
                                        <td>Chemistry</td>
                                        <td>2018</td>
                                      </tr>
                                </tbody>
                              </table>

                    </div>
                    </div>
                    </div>