<div class="parallax">
        <div class="image-box__overlay">
            <div class="image-box__content">
                <h1>Alumni</h1>
            </div>
        </div>
    </div>
    <div class="container header">
            <div class="row">
                <h1>Sri Lankan Alumni at The University of Iowa</h1>
            </div>
        
            <div class="row">
                <div class="container">
                        <table datatable class="row-border hover">
                                <thead>
                                  <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Degree</th>
                                    <th>Field</th>
                                    <th>Year</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Foo</td>
                                    <td>Bar</td>
                                    <td>PhD</td>
                                    <td>Chemistry</td>
                                    <td>2015</td>
                                  </tr>
                                </tbody>
                              </table>

                    </div>
                    </div>
                    </div>