<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-events *ngIf="loadedFeature === 'events'"></app-events>
<app-home *ngIf="loadedFeature === 'home'"></app-home>
<app-about-us *ngIf="loadedFeature === 'about-us'"></app-about-us>
<app-alumni *ngIf="loadedFeature === 'alumni'"></app-alumni>
<app-contact-us *ngIf="loadedFeature === 'contact-us'"></app-contact-us>
<app-news *ngIf="loadedFeature === 'news'"></app-news>
<app-footer (featureSelected)="onNavigate($event)"></app-footer>

