.parallax { 
    /* The image used */
    background-image: url('../../assets/alumni-img/alumni-cover.jpg');

    /* Set a specific height */
    height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0rem;
  }
  .image-box {
    position: relative;
  }
  
  /*
  The background and overlay need to be absolutely positioned
  */
  
  .image-box__overlay {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  /* 
  The background image div sizes and positions the background itself.
  It's also at the bottom-most position in our "div stack" (z-index 1)
  
  We set the image url via a CSS custom property, that's set via the style attribute in our HTML
  */
 
  
  /* 
  The overlay div is just a colored element with some opacity.
  It's above the background image in our stack, so it appears to 
  darken the image 
  */
  .image-box__overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    width: 100%;
    height: 300px;
  }
  
  /* 
  The content div is at the top of our stack. 
  We'd probably add some padding or flexbox properties here as well, 
  to place the content appropriately
  */
  .image-box__content {
    position: relative;
    top: 40%;
    z-index: 3;
    width: 100%;
    /* Finally, style and place the content */
    color: white;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }